*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100vh;
}

.navigation{
    box-shadow: 0 5px 10px #efefef;
    background: black;
}

.logo{
    height: 60px;
    padding: 0.05px 0.05px;
}

.icon-bar{
    background: darkorange;
}

.large_text{
    font-size: 40px;
    margin: 20px 0;
    color: orangered;
}

.description{
    font-size: 20px;
    margin: 20px 0;
    color: black;
}

.copy{
    display: inline;
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}

footer{
    text-align: center;
    background-color: black;
    position:absolute; 
    bottom:0;
    width: 100%;
    margin: 0 auto;
}

.footer_text{
    color: white;
}

.nav .active{
    background-color: whitesmoke;
}

/* @media screen and (max-width : 100px) {
    .resp{
        background-color: black;
        position:absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        left: 0;
    }
 } */